{% extends 'base.html' %}
{% load static %}
{% load form_utils %}
{% block content %}
    <div id="top" class="row">
        <div class="col-sm-3">
            <h2> {{ model_name_plural }}</h2>
        </div>
        <div class="col-sm-3 col-sm-offset-6">
            <a href="{% url 'TASK_create' %}" class="btn btn-primary pull-right h2"><i
                    class="fa fa-plus"></i> Add Task
            </a>
        </div>
    </div> <!-- /#top -->
    <hr/>
    <form id="advancedForm" method="get" action="{% url 'TASK_list' %}">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-12">

                {{ filter.form.as_p }}
                 <button type="button" class="btn btn-default" id="clear"><i class="fa fa-close"></i> Clear</button>


            </div>
        </div>
        <hr/>
        <div id="list" class="row">
            <div class="col-md-12">
                <table id="table" class="table table-striped" cellspacing="0" cellpadding="0">
                    <thead>
                    <tr>
                         <th>ID</th> 
 <th>TITLE</th> 
 <th>CATEGORY</th> 
 <th>COMPLETED</th> 
 <th>DATE</th> 

                        <th class="actions">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

        </div> <!-- /#list -->
    </form>
    <script type="text/javascript">

    $(document).ready(function () {

            function getData() {
                var formData = $('#advancedForm').serializeArray().reduce(function (obj, item) {
                    obj[item.name] = item.value;
                    return obj;
                }, {});
                return formData;
            }

            $('#task_link').addClass('active');
            var table = $('#table').DataTable({
            "processing": true,
                "serverSide": true,
                "ajax": "{% url 'TASK_list_json' %}",
                "ajax": {
                    "url": "{% url 'TASK_list_json' %}",
                    "data": function (d) {
                        return $.extend({}, d, getData());
                    }
                },
                columnDefs: [
                    {
                        targets: -1,
                        data: 'id',
                        "render": function (data, type, row, meta) {
                            return '<a href="/task/' + row[0] + '/"><i\n' +
                                '                                    class="fa fa-eye"></i></a>&nbsp;&nbsp;' +
                                '<a href="/task/'+row[0]+'/delete/"> <i\n' +
                                '                                    class="fa fa-close"></i></a>';
                        }
                    }
                ],
                order: [[0, "desc"]],
                "language": {
                    "lengthMenu": "Exibir _MENU_ registros por página",
                    "zeroRecords": "Nenhum item encontrado",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "Nenhum registro disponível",
                    "emptyTable": "Sem dados disponíveis na tabela",
                    "infoFiltered": "(filtrado do total de _MAX_ registros)",
                    "thousands": ".",
                    "loadingRecords": "Carregando...",
                    "processing": "Processando...",
                    "search": "Buscar:",
                    "paginate": {
                        "first": "Primeiro",
                        "last": "Último",
                        "next": "Próximo",
                        "previous": "Anterior"
                    },
                    "aria": {
                        "sortAscending": ": ativar para classificar a coluna ascendente",
                        "sortDescending": ": ativar para classificar a coluna descendente"
                    }
                }
            });

            $('input').on('keyup', function () {
                table.search('').draw();
            });

            $('#clear').click(function (){
                $("form")[0].reset();
                table.search('').draw();
            });

        });
    </script>

{% endblock %}
